@import '../../scss/breakpoints.scss';

.mainPage {
    display: flex;
  }
  
  .scrollPage {
    overflow-y: scroll;
    height: 71vh;

    @include mini-bp{
        height: calc(100vh - 252px)
    }
  }
