.mainPage {
  display: flex;
}

.scrollPage {
  overflow-y: scroll;
  height: calc(100vh - 225px);
}
@media (max-width: 650px) {
  .scrollPage {
    height: calc(var(--vh, 1vh) * 100 - 260px);
  }
}

