@import '../../scss/breakpoints.scss';
@import '../../scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.header {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    height: 5rem;
    @include mini-bp {
        height: max-content;
    }

    h1 {
        color: #10162F;
        margin-left: 2rem;
        
        .span{
            color: $maincolor;
        }

        @include mini-bp {
            padding-bottom: 1rem;
            text-align: center;
            margin: auto;
        }
    }
    .links {
           display: flex;
           flex-wrap: wrap;
           flex-grow: 1;
           align-items: center;
           margin-left: 4rem;

           @include mini-bp {
               flex-basis: 100%;
               order: 2;
               justify-content: center;
               align-items: center;
               margin-left: 0;
           }

        .nav {
            color: $maincolor;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            text-align: center;
            margin: 0 1.5rem;
            @include mini-bp {
                flex-basis: 50%;
            }
        }
        .search {
            margin-left: 2rem;
            @include mini-bp {
                width: 15rem;
                margin-left: 0;
            }
        }
    }
    .icon {
        @media(max-width: 725px){
            display: none;
        }
    }
}